.info{
	background-color: #f5f5f5;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-size: 0;
	font-style: normal;
	font-weight: 200;
	width:0;
	margin: 1.2%;
	margin-bottom: 0;
	color:black;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}
.video_hover{
	display: flex;
	align-items: stretch;
}
.video{
	margin-top:1.2%;
	margin-right: 1.2%;
	margin-left:2%;
	margin-bottom: 0;
}

.link{
	color: gray;
	font-size: 0;
}
/* info about each video */
.video_hover:hover .info{
	padding: 5%;
	font-size: 17px;
	width: 40%;
	transition-duration: .3s;
}
.video_hover:hover .link{
	font-size: 17px;
	transition-duration: .3s;
}
