nav{
	background: black;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-style: normal;
	font-weight: 200;
	margin:0;
	padding-top: 12px;
	padding-bottom: 8px;
}
body{
	margin:0;
}
nav:hover{
	background:white;
}
nav:hover > .header1{
	color: black;
}
nav:hover > a{
	color:black;
}
nav:hover > .searchbutton{
	color:black;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	background-color: white;
	font-weight: 300;
}
.header1{
	color:white;
	font-size: 25px;
	font-weight: 500;
	display: inline;
	text-align: left;
	padding-left: 15%;
	padding-right:10%;
}
#in{
	border:none;
	display: inline-block;
	background-color: white;
	text-align: center;
	width:20%;
	padding: 5px;
	background-color: black;
	color:white;
	font-size: 16px;
	margin-left: 10%;
}
a{
	font-size: 16px;
	color:white;
	text-decoration: none;
	text-align:right;
	padding-left: 15%
}
.searchbutton{
	 background-size: 0;
	 background-color: black;
	 border:none;
	 width: 0px;
	 height: 0px;
}

/*
=============================================*/
.info{
	background-color: #f5f5f5;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-size: 0;
	font-style: normal;
	font-weight: 200;
	width:0;
	height:340px;
	margin: 1.2%;
	color:black;
	display: inline-block;
	vertical-align: top;
}
.video{
	margin-top:1.2%;
	margin-right: 1.2%;
	margin-left:2%;
	margin-bottom: 0;
}


/* info about each video */
.video_hover:hover .info{
	width:50%;
	font-size: 17px;
	padding-top:7%;
	padding-left: 4%
}
