.gallery .image:hover{
	transform:scale(1.6);
	transition-duration: .5s;
}
.gallery{
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	flex-wrap: wrap;
	outline: none;
	justify-content: center;
}
.btn{
	outline: none;
	border: none;
	/*this width controls the size of image*/
	width:15%;
	background-color: white;
	margin: 1%;
	padding: 0;
	cursor: pointer;
}
.image{
	width: 100%;
}
#simulation{
	display: inline-flex;
	padding: 2%;
	margin: 0;
	justify-content:  center;
	align-items: stretch;
	flex-direction: row;
}
.info{
	background-color: black;
	padding: 4%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;

}
.infobtn{
	font-family: 'candara','Verdana','arial','courier new';
	margin-top: 2%;
	color: white;
	background-color: black;
	border: 1px solid white;
	padding: 6%;
	cursor: pointer;
}
.centerOutside{
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}
