nav{
	background: black;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-style: normal;
	font-weight: 200;
	margin:0;
	padding-top: 12px;
	padding-bottom: 8px;
}
body{
	margin:0;
}
nav:hover{
	background:white;
}
nav:hover > .header1{
	color: black;
}
nav:hover > a{
	color:black;
}
nav:hover > .searchbutton{
	color:black;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	background-color: white;
	font-weight: 300;
}
.header1{
	color:white;
	font-size: 25px;
	font-weight: 500;
	display: inline;
	text-align: left;
	padding-left: 15%;
	padding-right:10%;
}
#in{
	border:none;
	display: inline-block;
	background-color: white;
	text-align: center;
	width:20%;
	padding: 5px;
	background-color: black;
	color:white;
	font-size: 16px;
	margin-left: 7%;
}
a{
	font-size: 16px;
	color:white;
	text-decoration: none;
	text-align:right;
	padding-left: 15%
}
.searchbutton{
	 background-size: 0;
	 background-color: black;
	 border:none;
	 width: 0px;
	 height: 0px;
}
/*
=============================================*/
.gallery .image:hover{
	transform:scale(2.2);
}

.gallery{
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	flex-wrap: wrap;
	outline: none;
	justify-content: center;
}
.btn{
	outline: none;
	border: none;
	/*this width controls the size of image*/
	width:15%;
	background-color: white;
	margin: 1%;
	padding: 0;
	cursor: pointer;
}
.image{
	width: 100%;
}

#simulation{
	display: inline-flex;
	padding: 2%;
	margin: 0;
	justify-content:  center;
	align-items: flex-start;
	flex-direction: row;

}
.info{
	background-color: black;
	padding: 6%;
	height: 75%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.infobtn{
	font-family: 'candara','Verdana','arial','courier new';
	margin-top: 2%;
	color: white;
	background-color: black;
	border: 1px solid white;
	padding: 6%;
	cursor: pointer;
	
}
.centerOutside{
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}
