#ejquote{
	list-style-type: none;
	font-style: italic;
}
.box{
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-style: normal;
	font-weight: 200;
	font-size: 17px;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	display: inline-flex;
}
.content-left{
	color: white;
	background-color: black;
	width: 43%;
	margin:0;
	padding: 2%;
}
.content-right{
	background-color: #74b9ff;
	width: 45%;
	margin:0;
	padding: 3%;
	padding-left: 4%;
	padding-top: 4%;
}
.view{
	background-color: #0984e3;
	color:white;
	outline: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	font-weight: 500;
	margin: 10px;
	float: right;
	cursor: pointer;
}