nav{
	background: black;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-style: normal;
	font-weight: 200;
	margin:0;
	padding-top: 12px;
	padding-bottom: 8px;
}
body{
	margin:0;
}
nav:hover{
	background:white;
}
nav:hover > .header1{
	color: black;
}
nav:hover > a{
	color:black;
}
nav:hover > .searchbutton{
	color:black;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	background-color: white;
	font-weight: 300;
}
.header1{
	color:white;
	font-size: 25px;
	font-weight: 500;
	display: inline;
	text-align: left;
	padding-left: 15%;
	padding-right:10%;
}
#in{
	border:none;
	display: inline-block;
	background-color: white;
	text-align: center;
	width:20%;
	padding: 5px;
	background-color: black;
	color:white;
	font-size: 16px;
	margin-left: 10%;
}
a{
	font-size: 16px;
	color:white;
	text-decoration: none;
	text-align:right;
	padding-left: 15%
}
.searchbutton{
	 background-size: 0;
	 background-color: black;
	 border:none;
	 width: 0px;
	 height: 0px;
}


.box{
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-style: italic;
	font-weight: 200;
	font-size: 17px;
	margin-top: 3%;
	margin-left: 15%;
	margin-right: 15%;
}
.left{
	color: white;
	background-color: black;
	display: inline-flex;
	width: 45%;
	margin:0;
	padding: 2%;
}
.right{
	background-color: #74b9ff;
	display: inline-flex;
	width: 45%;
	margin:0;
	padding: 2%;
}
#ejquote{
	list-style-type: none;
}
#view{
	display: inline-flex;
	background-color: #0984e3;
	color:white;
	outline: none;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}