header{
	color:white;
	font-style: normal;
	text-align: center;
	margin-top: 9%;
	margin-bottom: 6%;
	font-family:"Courier New", Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
  	color:black;
  	font-size: 70px;
  	font-weight: 500;
  	text-shadow: 0px 0px 20px #d3d3d3; 
  	letter-spacing: 2px;
  }
body{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-weight: 500;
	font-style: italic;
	color:white;
	text-align: center;
 	text-shadow: 2px 2px 20px black;
 	letter-spacing: 2px;
}
.searchbar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: black;
	height: 20px;
	border-radius: 40px;
	padding-top:10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 15px;
}
.searchbar:hover > .searchtxt {
	 width: 70%;
	 padding-left: 10px;
	 padding-right: 10px;
}
.searchbar:hover > .searchbutton {
	 background: white;
	 color: black;
}
.searchbar:hover > .searchbutton {
	 background-image: url(searchBlack.png);
	 background-repeat: no-repeat;
	 background-size: 142px;
	 background-position: center;
}
#quote{
	font-size:0px;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	top:80%;
}
.searchbar:hover ~ #quote {
	 color: white;
	 font-size: 20px;
}
.searchbutton {
	 background-image: url(searchBlack.png);
	 background-repeat: no-repeat;
	 background-size: 142px;
	 background-position: center;
	 float: right;
	 width: 40px;
	 height: 40px;
	 border-radius: 50%;
	 display: flex;
	 transition: 0.4s;
	 background-color: black;
	 cursor: pointer;
	 border:none;
}
.searchtxt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0px;
	color: white;
	font-size: 20px;
	font-family: Calibri, Verdana, Helvetica,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	transition: 0.4s;
	line-height: 30px;
	width: 0px;
	font-weight: normal;
}
.buttons{
	border:none;
	padding: 3%;
	padding-top: .6%;
	padding-bottom: .6%;
	color: white;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-weight:500;
	font-style:bold;
	font-size: 20px;
	text-align: center;
	border-radius: 50px;
	cursor: pointer;
	margin-left: 3%;
	margin-right: 3%;
}
.buttonRow{
	position: absolute;
	top: 57%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}