.info{
	text-decoration: none;
	background: black;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-size: 50px;
	font-style: normal;
	margin-top: 0;
	padding-top: 0px;
	padding-bottom: 1%;
	padding-left: 35%;
}
.infobtn{
	font-family: 'candara','Verdana','arial','courier new';
	font-size: 16px;
	color: white;
	background-color: black;
	border: 1px solid white;
	padding: 1%;
	cursor: pointer;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

.gallery img:hover{
	transform:scale(1.4);
	transition-duration: .4s;
}
.gallery{
	margin:0;
	padding: 0;
	display: inline-flex;
	border:none;
	outline: none;
	flex-wrap: wrap;
	align-items: stretch;
}	