body{
	margin:0;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('picture.jpg');
	color: white;
	font-family: 'courier new',verdana, roboto;
}
nav{
	background-color: #fbc531;
	width:100%;
	text-align: center;
	color:black;
	font-family: 'courier new',verdana, roboto;
}
.outlineBox{
	width:60%;
	margin-top: 5%;
	background-color: rgba(0,0,0,.3);
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	padding:5%;
}


input{
	height: 20px;
	text-align: center;
	border: none;
	background-color: rgba(0,0,0,.1);
	color: white;
	font-family: 'courier new',verdana, roboto;
}
.btn{
	margin-top: 5%;
	padding-left: 3%; padding-right: 3%;
	padding-top: 2%; padding-bottom: 2%;
	color:white;
	font-family: 'courier new',verdana, roboto;
	background-color: #e84118;
	border: none;
	opacity: 90%;
}
.row{
	margin:1%;
	font-family: 'courier new',verdana, roboto;

}
select{
	background-color: rgba(0,0,0,.5);
	color: white;
	border: none;
	font-family: 'courier new',verdana, roboto;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}