nav{
	background: black;
	font-family: Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-style: normal;
	font-weight: 200;
	margin:0;
	padding-top: 13px;
	padding-bottom: 10px;
}
body{
	margin:0;
}
nav:hover{
	background:white;
}
nav:hover > .header1{
	color: black;
}
nav:hover > a{
	color:black;
}
nav:hover > .searchbutton{
	 background-image: url(../../search.png);
	 background-repeat: no-repeat;
	 background-size: 45px;
	 background-position: center;
	 outline:0 none;
	 box-shadow: none;
}
.header1{
	color:white;
	font-size: 25px;
	display: inline;
	text-align: left;
	padding-left: 10%;
	padding-right:10%;
}
#in{
	border:none;
	display: inline-block;
	background-color: white;
	text-align: center;
	width:20%;
	padding: 5px;
	background-color: black;
	color:white;
	font-size: 16px;
	margin-left: 5%;
}
a{
	font-size: 16px;
	color:white;
	text-decoration: none;
	text-align:right;
	padding-left: 10%
}
.searchbutton{
	 background-image: url(../../searchBlack.png);
	 background-repeat: no-repeat;
	 background-size: 150px;
	 background-position: center;
	 border:none;
	 width: 55px;
	 height: 55px;
}

/*
=============================================*/
.gallery img:hover{
	transform:scale(2);
}
.gallery{
	display: inline;
}
