#theMap{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	margin: 0;
	font-family: "calibri light",calibri,arial;
}
nav{
	position: absolute;
	right: 1%;
	top: 2%;
	width: 25%;
	padding: 1%;
	padding-top: 2%;
	z-index: 1000;
	display: inline-flex;
	flex-direction: column;
	background-color: rgba(255,255,255,0.8);
}
#fromRow, #toRow{
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 2%;
}
#fromAddress, #toAddress{
	width: 55%;
	border: none;
	text-align: center;
	padding: 1%;
	border: 1px solid rgb(180,180,180);
	border-right: none;
	background-color: rgba(225,225,225,0.4);
}
#toRow{
	border-bottom: 1px solid rgb(180,180,180);
	margin-bottom: 3%;
	padding-bottom: 3%;
}
#fromCountry, #toCountry{
	width: 25%;
	padding: 1%;
	border: 1px solid rgb(180,180,180);
	border-left: none;
	text-align: center;
	background-color: rgba(225,225,225,0.4);
}
#fromAddress:hover{
	box-shadow: 0px 0px 2px 2px rgb(200,200,200);
}
#toAddress:hover{
	box-shadow: 0px 0px 2px 2px rgb(200,200,200);
}
#fromCountry:hover{
	box-shadow: 0px 0px 2px 2px rgb(200,200,200);
}
#toCountry:hover{
	box-shadow: 0px 0px 2px 2px rgb(200,200,200);
}
.inText{
	width: 15%;
	padding-left: 1%;
}
#routeDetails{
	border-top: 1px solid rgb(180,180,180);
	border-bottom: 1px solid rgb(180,180,180);
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}
#goBtn{
	width: 100%;
	border: none;
	background-color: black;
	color: white;
	font-size: 17px;
	font-family: "calibri light";
	padding: 1%;
	cursor: pointer;
}
#time{
	font-size: 17px;
}
#dist{
	margin-left: auto;
	font-size: 17px;
}
.instruct{
	padding: 1%;
	margin-left: 2%; 
}
#instructions{
	width: 100%;
	background-color: white;
	max-height: 60vh;
	overflow: scroll;
}
.instruct:hover{
	background-color: rgba(225,225,225,0.7);
}
#back{
	position: absolute;
	bottom: 3%;
	left: 1%;
	padding: 1%;
	background-color: rgba(220,220,220,0.8);
	border: none;
	z-index: 2000;
}
#back:hover{
	background-color: black;
	color: white;
}