body{
	margin:0;
	text-align: center;
}
.row{
	display: inline-flex;
	flex-wrap: nowrap;
	flex-direction: row;

	width: 100%;
	color:white;
	font-family:Helvetica,Verdana,Geneva,"Lucida Grande","Lucida Sans Unicode",Tahoma,"Trebuchet MS",Calibri;
	font-weight: 500;
	font-size: 20px;
	border:none;
	outline:none;
	padding: 0;
	letter-spacing: 6px;
	text-align: center;
	align-items: center;
	cursor: pointer;
	margin-top: 2%;
}

.column{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:60%;
	padding: 0;
}
.video{
	width:100%;
}
.text{
	background-color: black;
	width:70%;

}


/*Different versions for mobile and desktop*/
	.content-desktop {
		display: inline;
	}
	.content-mobile{
		display: none;
	}

	@media only screen
		and (min-device-width : 320px)
		and (max-device-width : 480px){
			.content-mobile{display: inline;}
		}
	@media only screen
		and (min-device-width : 320px)
		and (max-device-width : 480px){
			.content-desktop{display: none;}
		}

