<!DOCTYPE html>
<html>
<head>
    <title>Tensorflow>Handwriting</title>
    <script type="text/javascript" src="https://w3ichen.github.io/pages/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://w3ichen.github.io/pages/code/code.css">
    <script type="text/javascript" src="https://w3ichen.github.io/pages/code/menu.js"></script>

</head>

<body onload="init()">
    <canvas id="can" width="100" height="100" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>

    <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
    <input type="button" value="save" id="btn" size="30" onclick="save()" style="position:absolute;top:55%;left:10%;">
    <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:55%;left:15%;">
<div id="prediction"></div>
<div style="background-color: black">
    <img src="{{url_for('static',filename='image.png')}}" id="userDrawing" width="20%">
</div>


<!-- <script src="https://gist.github.com/w3ichen/d8715fed17aebb70a6076c9f8ff529d9.js"></script> -->
</body>










<!-- CODE FOR CANVAS -->
<script type="text/javascript">
var canvas, ctx, flag = false,
    prevX = 0,
    currX = 0,
    prevY = 0,
    currY = 0,
    dot_flag = false;

var x = "white",
    y = 2;

function init() {
    canvas = document.getElementById('can');
    ctx = canvas.getContext("2d");
    w = canvas.width;
    h = canvas.height;
    // MOUSE EVENTS
    canvas.addEventListener("mousemove", function (e) {
        findxy('move', e)
    }, false);
    canvas.addEventListener("mousedown", function (e) {
        findxy('down', e)
    }, false);
    canvas.addEventListener("mouseup", function (e) {
        findxy('up', e)
    }, false);
    canvas.addEventListener("mouseout", function (e) {
        findxy('out', e)
    }, false);

}

function save() {
    var image = canvas.toDataURL("image/png");
    $.ajax({
        url: '/update',
        type: 'POST',
        data: image,
        contentType: 'image/jpeg'
    }).done( function(data){
        $('#prediction').text(data.prediction);
        $('#userDrawing').attr('src', 'static/image.png');

        console.log(data.prediction)
    })





    erase() ; 
}

function draw() {
    ctx.beginPath();
    ctx.moveTo(prevX, prevY);
    ctx.lineTo(currX, currY);
    ctx.strokeStyle = x;
    ctx.lineWidth = y;
    ctx.stroke();
    ctx.closePath();
}

function erase() { 
    ctx.clearRect(0, 0, w, h);
    document.getElementById("canvasimg").style.display = "none";
}

function findxy(res, e) {
    if (res == 'down') {
        prevX = currX;
        prevY = currY;
        currX = e.clientX - canvas.offsetLeft;
        currY = e.clientY - canvas.offsetTop;
        flag = true;
        dot_flag = true;
        if (dot_flag) {
            ctx.beginPath();
            ctx.fillStyle = x;
            ctx.fillRect(currX, currY, 2, 2);
            ctx.closePath();
            dot_flag = false;
        }
    }
    if (res == 'up' || res == "out") {
        flag = false;
    }
    if (res == 'move') {
        if (flag) {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
            draw();
        }
    }
}
</script>

<style type="text/css">
    canvas{
        background-color: black;

    }
</style>
</html>