<!DOCTYPE html>
<html>
<head>
    <title>Tensorflow>Handwriting</title>
    <script type="text/javascript" src="https://w3ichen.github.io/pages/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://w3ichen.github.io/pages/code/code.css">
    <link rel="stylesheet" type="text/css" href="https://w3ichen.github.io/pages/nav.css">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/handwriting.css') }}">
    <script type="text/javascript" src="https://w3ichen.github.io/pages/code/menu.js"></script>

</head>

<body onload="init()">
    <nav>
        <div style="flex: 3; text-align: center" class="header1">Handwriting</div>
        <button onclick="window.location.href='https://w3ichen.github.io/pages/code/code.html'" id="back" style="flex:1">Back</button>
        <div class="switchtr" style="flex: 2">
            <div id="code-text">Show Code</div>
            <div><input type="checkbox" id="codeToggle"></div>
        </div>
    </nav>

    <div id="intro"><em>Convolutional Neural Network (CNN) <br>Tensorflow model trained on EMNIST dataset <br>Recognizes handwritten numbers and letters</em></div>


    <div id="network">
        <div id="chalkboard">
            <button id="eraseBtn" onclick="erase()"></button>
            <div id="chalk">
                <div id="writing">write number or letter here</div>
                <canvas id="can" width="100" height="100"></canvas>
                <button id="predictBtn" onclick="save()">PREDICT</button> 
            </div>
        </div>
            <img id="userDrawing">
            <div id="prediction">:)</div>
    </div>

    
    

<div id="code">
    <script src="https://gist.github.com/w3ichen/d8715fed17aebb70a6076c9f8ff529d9.js"></script>
</div>
<script type="text/javascript">
    loadSubmenu(true, false);
</script>


</body>










<!-- CODE FOR CANVAS -->
<script type="text/javascript">
var canvas, ctx, flag = false,
    prevX = 0,
    currX = 0,
    prevY = 0,
    currY = 0,
    dot_flag = false;

var x = "white",
    y = 2;

function init() {
    canvas = document.getElementById('can');
    ctx = canvas.getContext("2d");
    w = canvas.width;
    h = canvas.height;
    // MOUSE EVENTS
    canvas.addEventListener("mousemove", function (e) {
        findxy('move', e)
    }, false);
    canvas.addEventListener("mousedown", function (e) {
        findxy('down', e)
    }, false);
    canvas.addEventListener("mouseup", function (e) {
        findxy('up', e)
    }, false);
    canvas.addEventListener("mouseout", function (e) {
        findxy('out', e)
    }, false);

}

function save() {
    var image = canvas.toDataURL("image/png");
    $.ajax({
        url: '/update',
        type: 'POST',
        data: image,
        contentType: 'image/jpeg'
    }).done( function(data){
        $('#prediction').text(data.prediction);
        console.log(data.prediction)
    })
    document.getElementById("userDrawing").src = canvas.toDataURL();

    erase() ; 
}

function draw() {
    ctx.beginPath();
    ctx.moveTo(prevX, prevY);
    ctx.lineTo(currX, currY);
    ctx.strokeStyle = x;
    ctx.lineWidth = y;
    ctx.stroke();
    ctx.closePath();
}

function erase() { 
    ctx.clearRect(0, 0, w, h);
}

function findxy(res, e) {
    if (res == 'down') {
        prevX = currX;
        prevY = currY;
        currX = e.clientX - canvas.offsetLeft;
        currY = e.clientY - canvas.offsetTop;
        flag = true;
        dot_flag = true;
        if (dot_flag) {
            ctx.beginPath();
            ctx.fillStyle = x;
            ctx.fillRect(currX, currY, 2, 2);
            ctx.closePath();
            dot_flag = false;
        }
    }
    if (res == 'up' || res == "out") {
        flag = false;
    }
    if (res == 'move') {
        if (flag) {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
            draw();
        }
    }
}
</script>

</html>