.image:hover{
	transform:scale(1.7);
	transition-duration: .5s;
}

.all{
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	flex-wrap: wrap;
	outline: none;
	justify-content: center;
}
.btn{
	outline: none;
	border: none;
	/*this width controls the size of image*/
	width:18%;
	background-color: white;
	margin: 1%;
	padding: 0;
	cursor: pointer;
}
.image{
	width: 100%;
}
/*========================================*/

#simulation{
	display: inline-flex;
	margin: 2%;
	justify-content:  center;
	flex-direction: row;
}
.info{
	background-color: black;
	padding: 2%;
	align-items: stretch;
	width: 10%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.infobtn{
	font-family: 'candara','Verdana','arial','courier new';
	margin-top: 50%;
	color: white;
	background-color: black;
	border: 1px solid white;
	padding: 5%;
	cursor: pointer;
}
